.fill-remaining-space {
 
  flex: 1 1 auto;
}

.container {
  padding: 10px;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.center{
  margin: auto;
  padding: 50px;
  border: 1px solid black;
  
  background-color: cyan;
  height: auto;
}
.signUp-opt{

  float: left;
  padding: 14px;
  color:blue;

}






