/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming'; */

/* $custom-typography: mat-typography-config($font-family: '"Titillium Web", sans-serif;');
@include mat-core($custom-typography); */

html {
    height:100vh;
    margin: 0;
    padding: 0;
}

body {
	margin:0; 
	padding:0;
	height:100vh;
    font-family: 'Titillium Web';
    font-size: 16px;
    /* background-color: whitesmoke; */

    
}

.form-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 12px;
}

.form-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 500px;
}

.form-button-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;    
    margin-top: 12px;
}

mat-form-field {
    margin-bottom: 24px;
}